<h1 class="display-6"> Département : {{authenticatedEmploye.departement.libelle}}</h1>
<br><br>

<table class="table table-bordered table-hover">
  <thead>
  <th>Nom</th>
  <th>Prenom</th>
  <th>CIN</th>
  <th>Num CNSS</th>
  <th>Service</th>
  <th>Fonction</th>
  </thead>
  <tbody>
  <tr *ngFor="let c of employesPage.content; index as i">
    <td>{{ c.nom }}</td>
    <td>{{ c.prenom }}</td>
    <td>{{ c.cin }}</td>
    <td>{{ c.numeroCNSS }}</td>
    <td>{{ c.service.libelle }}</td>
    <td>{{ c.fonction.libelle }}</td>
  </tr>

  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item" [class.disabled]="employesPage.first"><a class="page-link" (click)="getEmployePage(this.authenticatedEmploye.departement,employesPage.number - 1, employesPage.size)">&laquo; Précédent</a></li>
    <li class="page-item" *ngFor="let pageNumber of getPageNumbers()" [class.active]="pageNumber === employesPage.number"><a class="page-link" (click)="getEmployePage(this.authenticatedEmploye.departement,pageNumber, employesPage.size)">{{ pageNumber + 1 }}</a></li>
    <li class="page-item" [class.disabled]="employesPage.last"><a class="page-link" (click)="getEmployePage(this.authenticatedEmploye.departement,employesPage.number + 1,employesPage.size)">Suivant &raquo;</a></li>
  </ul>
</nav>
