<h1 class="display-6"> Département : {{authenticatedEmploye.departement.libelle}}</h1>
<br><br>

<table class="table table-bordered table-hover">
  <thead>
  <th>Nom</th>
  <th>Prenom</th>
  <th>CIN</th>
  <th>Num CNSS</th>
  <th>Service</th>
  <th>Fonction</th>
  </thead>
  <tbody>
  <tr *ngFor="let c of employes; index as i">
    <td>{{ c.nom }}</td>
    <td>{{ c.prenom }}</td>
    <td>{{ c.cin }}</td>
    <td>{{ c.numeroCNSS }}</td>
    <td>{{ c.service.libelle }}</td>
    <td>{{ c.fonction.libelle }}</td>
  </tr>

  </tbody>
</table>
