<div class="input-group w-25">
  <input type="text" class="form-control" placeholder="Rechercher demande..." (input)="search($any($event.target).value)">
  <span class="input-group-text">
      <i class="fa fa-search"></i>
    </span>
</div>
<br>

<table class="table table-bordered">
  <thead>
  <th>Employé</th>
  <th>Date demande</th>
  <th>Type Attestation</th>
  <th>Statut demande</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <tr *ngFor="let c of demandesAttestation; index as i" >
    <td>{{c.employe.nom}} {{c.employe.prenom}}</td>
    <td>{{c.dateDemande}}</td>
    <td>{{c.typeAttestation}}</td>
    <td>{{c.statutAttestation}}</td>
    <td>
      <button (click)="preparer(c)" class="btn btn-info text-white m-1"> Préparer</button>
      <button (click)="valider(c)" class="btn btn-success text-white">Prête</button>
      <button (click)="delete(c,i)" class="btn btn-danger m-1"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>

    </td>
  </tr>
  </tbody>
</table>
