<h1 class="display-6 mb-4"> Bonjour , {{ this.authenticatedEmploye.nom }} {{this.authenticatedEmploye.prenom}}</h1>
<br>

<app-employes-par-service-chart></app-employes-par-service-chart>


<c-row class="mt-5">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="font-weight: bold;">Absences d'haujourd'hui</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary text-center ">
              <svg cIcon name="cilPeople"></svg>
            </th>
            <th class="bg-body-tertiary">Employé</th>

            <th class="bg-body-tertiary">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let abs of absencesAuj;index as i">
            <td class="text-center">
              <c-avatar [size]="'md'" src="{{ abs.employe.image }}" status="{{ abs.employe.image }}" />
            </td>
            <td>
              <div>{{ abs.employe.nom }} {{abs.employe.prenom}}</div>
              <div class="small text-body-secondary text-nowrap">
              </div>
            </td>
            <td>
              <div class="fw-regular text-nowrap">{{abs.statutAbsence}}</div>

            </td>
          </tr>

          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="font-weight: bold;">Retard d'haujourd'hui</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary text-center ">
              <svg cIcon name="cilPeople"></svg>
            </th>
            <th class="bg-body-tertiary">Employé</th>
            <th class="bg-body-tertiary">Durée retard</th>
            <th class="bg-body-tertiary">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let retard of retardsAuj;index as i">
            <td class="text-center">
              <c-avatar [size]="'md'" src="{{ retard.employe.image }}" status="{{ retard.employe.image }}" />
            </td>
            <td>
              <div>{{ retard.employe.nom }} {{retard.employe.prenom}}</div>
              <div class="small text-body-secondary text-nowrap">
              </div>
            </td>
            <td>{{calculerDureeRetard(retard.heureDebutTravail,retard.heureArrivee)}}</td>
            <td>
              <div class="fw-regular text-nowrap">{{retard.statutRetard}}</div>

            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

