<button type="button" class="btn btn-primary text-white ml" data-bs-toggle="modal" data-bs-target="#absence">
  <i class="fa fa-plus fa-lg"></i> Nouvelle absence
</button><br><br><br>

<div class="modal fade" id="absence" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nouvelle Absence</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
         <!-- <div class="col-md-4">
            <label for="dateAbsence" class="form-label">Date Absence :</label>
            <input type="date" class="form-control form-control-sm" id="dateAbsence" [(ngModel)]="absenceSec.dateAbsence">
          </div>-->
          <div class="col-md-4">
            <label for="employe" class="form-label">Employé :</label>
            <select class="form-control form-control-sm" id="employe" [(ngModel)]="absenceSec.employe">
              <option value="" disabled selected>Sélectionner l'employe</option>
              <option *ngFor="let employe of employes" [ngValue]="employe">{{ employe.nom }} {{ employe.prenom }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button (click)="save(absenceSec)" type="button" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
  <th>Employé</th>
  <th>Date Absence</th>
  <th>Statut Absence</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <tr *ngFor="let c of absencesSec;index as i">
    <td>{{c.employe.nom}} {{c.employe.prenom}}</td>
    <td>{{c.dateAbsence}}</td>
    <td>{{c.statutAbsence}}</td>
    <td>
      <button (click)="deleteByDateAndEmploye(c.dateAbsence,c.employe,i)" class="btn btn-danger btn-sm m-1"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
    </td>
  </tr>
  </tbody>
</table>


