<button type="button" class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa-plus fa-lg"></i>
  Nouveau Département
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouveau département :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-2">
          <div class="col-md-4">
            <label for="libelle" class="form-label">Nom du département:</label>
            <input type="text" class="form-control form-control-sm" id="libelle" [(ngModel)]="departement.libelle">
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary text-white" (click)="save()">Sauvegarder</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>



<br><br>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Nom du Département</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    @for (deparetement of departementsPage.content; track deparetement; let i = $index) {

      <tr >
        <td>{{deparetement.libelle}}</td>
        <td>
          <button class="btn btn-info btn-sm m-1" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + i"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
          <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabell">Modifier Département :</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row mt-2">
                    <div class="col-md-4">
                      <label for="libelleee" class="form-label">Ancien Département:</label>
                      <p id="libelleee">{{ deparetement.libelle }}</p>
                      <label for="libellee" class="form-label">Nouveau Département:</label>
                      <input type="text" class="form-control form-control-sm" id="libellee" [(ngModel)]="updatedLibelle">
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-primary text-white" (click)="update(deparetement)">Sauvegarder</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>
            <button class="btn btn-danger btn-sm m-1" (click)="confirmDelete(deparetement, i)" ><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
        </td>
      </tr>
    }
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item" [class.disabled]="departementsPage.first"><a class="page-link" (click)="getDepartementsPage(departementsPage.number - 1, departementsPage.size)">&laquo; Précédent</a></li>
    <li class="page-item" *ngFor="let pageNumber of getPageNumbers()" [class.active]="pageNumber === departementsPage.number"><a class="page-link" (click)="getDepartementsPage(pageNumber, departementsPage.size)">{{ pageNumber + 1 }}</a></li>
    <li class="page-item" [class.disabled]="departementsPage.last"><a class="page-link" (click)="getDepartementsPage(departementsPage.number + 1, departementsPage.size)">Suivant &raquo;</a></li>
  </ul>
</nav>
