<table class="table table-bordered table-hover">
  <thead>
  <th>Code</th>
  <th>annee</th>
  <th>mois</th>
  <th>matricule</th>
  <th>nom</th>
  <th>prenom</th>
  <th>Service</th>
  </thead>
  <tbody>
  <tr *ngFor="let bp of bulletinPaies; index as i">
    <td>
     {{bp.code}}
    </td>
    <td>{{bp.year}}</td>
    <td>{{bp.month}}</td>
    <td>{{bp.employe.matricule}}</td>
    <td>{{bp.employe.nom}}</td>
    <td>{{bp.employe.prenom}}</td>
    <td>

      <button class="btn btn-info btn-sm m-1" (click)="upload(bp.code)" data-bs-toggle="modal" data-bs-target="#edit">
        <i class="fas fa-upload" style="color: #ffffff;"></i>
      </button>
      <button class="btn btn-danger btn-sm m-1" (click)="deleteByCode(bp,i)"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
    </td>
  </tr>

  </tbody>
</table>
