<table class="table table-bordered">
  <thead>
  <th>Id</th>
  <th>Employé</th>
  <th>Date début</th>
  <th>Date fin</th>
  <th>Type Congé</th>
  <th>Statut demande</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <tr>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>
      <button class="btn btn-success text-white m-1"> Accepter</button>
      <button class="btn btn-danger text-white">Refuser</button>
    </td>
  </tr>
  </tbody>
</table>
