
<button type="button" class="btn btn-primary text-white"  data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa-plus fa-lg"></i>
  Nouvelle Fonction
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouvelle Fonction :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-2">
          <div class="col-md-4">
            <label for="libel" class="form-label">Nom du fonction:</label>
            <input type="text" class="form-control form-control-sm" id="libel" [(ngModel)]="fonction.libelle">
            <label for="libell" class="form-label">Nom du service:</label>
            <input type="text" class="form-control form-control-sm" id="libell" [(ngModel)]="fonction.service.libelle">
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary text-white" (click)="save()">Sauvegarder</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>



<br><br>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Nom du Fonction</th>
    <th>Nom du Service</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    @for (fonction of fonctions; track fonction; let i = $index) {

      <tr >
        <td>{{fonction.libelle}}</td>
        <td>{{fonction.service.libelle}}</td>
        <td>
          <button class="btn btn-info btn-sm m-1" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + i"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
          <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabell">Modifier Fonction :</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row mt-2">
                    <div class="col-md-4">
                      <label for="libelleee" class="form-label">Ancienne fonction:</label>
                      <p id="libelleee">{{ fonction.libelle }}</p>
                      <label for="libellee" class="form-label">Nouvelle fonction:</label>
                      <input type="text" class="form-control form-control-sm" id="libellee" [(ngModel)]="updatedLibelle">
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-primary text-white" (click)="update(fonction)">Sauvegarder</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-danger btn-sm m-1" (click)="confirmDelete(fonction, i)" ><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
        </td>
      </tr>
    }
  </tbody>
</table>



