<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<c-row class="g-4">
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary" title="users" class="widget-stat-a-custom">
      9k
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="info" title="employees" class="widget-stat-a-custom">
      10k
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="warning" title="Demande de congés" class="widget-stat-a-custom">
      4
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="danger" title="Demande d'attestations" class="widget-stat-a-custom">
      5
    </c-widget-stat-a>
  </c-col>
</c-row>





<!--
<c-row class="g-4">
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      color="primary"
      [title]="'Users'"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        80
      </ng-template>

    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Income'"
      color="info"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>$6.200</span>
        <span class="fw-normal" style="font-size: 12px;">
          (40.9%<svg cIcon name="cilArrowTop" size="sm"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent">
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a [routerLink]="[]" cDropdownItem>Action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Another action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" [routerLink]="[]" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template>

    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Conversion Rate'"
      color="warning"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>2.49</span>
        <span class="fw-normal" style="font-size: 12px;">
          (84.7% <svg cIcon name="cilArrowTop" size="sm"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent">
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a [routerLink]="[]" cDropdownItem>Action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Another action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" [routerLink]="[]" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template>

    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Sessions'"
      color="danger"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>44K</span>
        <span class="fw-normal" style="font-size: 12px;">
          (-23.6% <svg cIcon name="cilArrowBottom" size="sm"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent">
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a [routerLink]="[]" cDropdownItem>Action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Another action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" [routerLink]="[]" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template>

    </c-widget-stat-a>
  </c-col>
</c-row>
-->
