<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-2">
      <div class="btn-group me-3">
        <button type="button" class="btn btn-info dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
          Départements
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let departement of departements">
            <a class="dropdown-item" (click)="selectDepartement(departement)">{{ departement.libelle }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-7 text-center" *ngIf="selectedDepartement">
      <p class="h3"> Département : {{ selectedDepartement.libelle }} </p>
    </div>
    <div class="col-md-3 d-flex justify-content-end">
      <button [ngClass]="{'btn-warning': !isSelectionMode, 'btn-secondary': isSelectionMode}" class="btn text-white me-1" (click)="toggleSelectionMode()">
        {{ isSelectionMode ? 'Annuler' : 'Sélectionner Retards' }}
      </button>
      <button class="btn btn-success text-white btn-block" *ngIf="isSelectionMode" (click)="processSelectedRetards()">Justifier</button>
    </div>
  </div>
</div>
<br><br>
<full-calendar [options]="calendarOptions"></full-calendar>

<!--
<br>
<table class="table table-bordered table-hover">
  <thead>
  <th>Employé</th>
  <th>Date retard</th>
  <th>Heure Début travail</th>
  <th>Heure Arrivée</th>
  <th>Durée retard</th>
  <th>Statut retard</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <tr *ngFor="let c of retards;index as i">
    <td>{{c.employe.nom}} {{c.employe.prenom}}</td>
    <td>{{c.dateRetard}}</td>
    <td>{{c.heureDebutTravail}}</td>
    <td>{{c.heureArrivee}}</td>
    <td>{{ calculerDureeRetard(c.heureDebutTravail, c.heureArrivee) }}</td>
    <td>{{ c.statutRetard }}</td>
    <td>
      <button (click)="justifier(c)" class="btn btn-primary text-white">Justifier</button>
    </td>
  </tr>
  </tbody>
</table>
-->
