<div class="input-group w-25">
  <input type="text" class="form-control" placeholder="Rechercher retard..." (input)="search($any($event.target).value)">
  <span class="input-group-text">
      <i class="fa fa-search"></i>
    </span>
</div>
<br>

<table class="table table-bordered">
  <thead>
  <th>Employé</th>
  <th>Date retard</th>
  <th>Heure Début travail</th>
  <th>Heure Arrivée</th>
  <th>Durée retard</th>
  <th>Statut retard</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <tr *ngFor="let c of retards;index as i">
    <td>{{c.employe.nom}} {{c.employe.prenom}}</td>
    <td>{{c.dateRetard}}</td>
    <td>{{c.heureDebutTravail}}</td>
    <td>{{c.heureArrivee}}</td>
    <td>{{ calculerDureeRetard(c.heureDebutTravail, c.heureArrivee) }}</td>
    <td>{{ c.statutRetard }}</td>
    <td>
      <button (click)="justifier(c)" class="btn btn-warning text-white">Justifier</button>
    </td>
  </tr>
  </tbody>
</table>
